rbconfig
doc/Doxyfile.bak
anaDragon
gmon.out
*.root
lib/DragonDictionary.cxx
lib/DragonDictionary.h
lib/libDragon.so.dSYM/
longAttach.dat
rbeer.log
run00068.mid
run00068.root
run00068_2.mid
run00068_2.root
run00068_noodb.mid
run00675sub000.mid
src/tstamp/compile.sh
src/tstamp/rbeer.log
src/tstamp/tmp
src/tstamp/ts.dSYM/
src/tstamp/tstamp
odbtest*
midas.log
*.mid
*.so
*.dylib
doc/.DS_Store
.DS_Store
lib/*.dsym
lib/.*
lib/*.rootmap
lib/*.pcm
.nfs*
test.xml
examples/*.d
examples/*.so
bin/*
Makefile.local
config.mk
doc/html
doc/latex
