<ul>
    <li><a href="/git-wiki/">Home</a></li>

    <li><a href="/git-wiki/wiki/installation">Installation</a></li>

    <li><a href="/git-wiki/wiki/quick-start">Quick start</a>

    <!-- <li><a href="/git-wiki/wiki/class-basic">Basic Syntax</a></li> -->

    <!-- <li><a href="/git-wiki/wiki/class-friendly">Friendly Syntax</a></li> -->

    <!-- <li><a href="https://github.com/hw-core/js-library-class">Repository</a></li> -->
    <!-- <li><a href="https://github.com/HW-Core/git-wiki/issues">Ask support</a></li> -->
</ul>
