<ul>
    <li><a href="/analyzer/">Home</a></li>

    <li><a href="/analyzer/wiki/installation">Installation</a></li>

    <li><a href="/analyzer/wiki/quick-start">Quick start</a>

    <li><a href="/analyzer/wiki/doc">Documentation</a>

    <!-- <li><a href="/analyzer/wiki/class-basic">Basic Syntax</a></li> -->

    <!-- <li><a href="/analyzer/wiki/class-friendly">Friendly Syntax</a></li> -->

    <!-- <li><a href="https://github.com/hw-core/js-library-class">Repository</a></li> -->
    <!-- <li><a href="https://github.com/HW-Core/analyzer/issues">Ask support</a></li> -->
</ul>
